.button-bar {
    display: flex;
    justify-content: space-around; /* Esta propiedad distribuye los botones uniformemente a lo largo de la barra */
    padding: 5em;
    padding-left: 10em;
    background-color: #e6f0fd;
}

.blue-button {
    background-color: #e6f0fd; /* Un azul claro para el fondo del botón */
    color: #1473fb; /* Un azul más intenso para el texto */
    border: 1px solid #1473fb; /* Un borde azul más intenso para resaltar el botón */
    border-radius: 10px; /* Redondeo de los bordes del botón */
    padding: 0.5em 1em;
    margin: 0 0.5em; /* Ajusta el margen entre botones según sea necesario */
    cursor: pointer;
    transition: all 0.3s ease;
}

.blue-button:hover {
    background-color: #d1e5fd; /* Un color ligeramente más oscuro en el estado hover */
    border-color: #0b59da; /* Color de borde más oscuro para el hover */
}

/* Asegúrate de incluir los estilos básicos de reset como margin: 0 y padding: 0 para html y body si aún no están definidos */

.experience-section {
    /* Agregar si necesitas espaciado o alineación específica */
    text-align: center; /* Si quieres centrar el texto */
    padding: 2em 0; /* Espaciado alrededor de la sección */
}

.experience-title {
    color: #1473fb; /* Un tono de azul que se ajuste a tu diseño */
    font-size: 2em; /* Tamaño del título */
    margin-bottom: 0.5em; /* Espaciado debajo del título */
}

.experience-description {
    color: #6c757d; /* Color gris para el texto del párrafo */
    font-weight: bold; /* Negritas para el párrafo */
    font-size: 1em; /* Tamaño del párrafo, ajustar si es necesario */
}




/*Animacion AND experience section*/

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.text-column-barra {
    flex-basis: 30%; /* O el ancho que prefieras para las columnas de texto */
    margin: 0 10px; /* Añade espacio entre las columnas si es necesario */
}

.animation-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Define el tamaño de la animación aquí si es necesario */
}

.title-blue-left {
    color: #1473fb; /* Cambia al tono exacto de azul que necesitas */
    margin-bottom: 0.5em;
    text-align: right; 
    /* Añade aquí otros estilos para el título si es necesario */
}

.title-blue-right {
    color: #1473fb; /* Cambia al tono exacto de azul que necesitas */
    margin-bottom: 0.5em;
    text-align: left; 
    /* Añade aquí otros estilos para el título si es necesario */
}

.paragraph-grey-left {
    color: #999797; /* O el color gris que prefieras */
    font-weight: normal;
    text-align: right; 
    padding-left: 10em;
    /* Añade aquí otros estilos para el párrafo si es necesario */
}

.paragraph-grey-right {
    color: #999797; /* O el color gris que prefieras */
    font-weight: normal;
    text-align: left; 
    padding-right: 10em;
    /* Añade aquí otros estilos para el párrafo si es necesario */
}





.card {
    width: 320px;
    height: 220px;
    perspective: 1000px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #c7c7c7;
  }
  
  .card .paleta {
    width: 100%;
    height: 180px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .component {
    height: 23px;
  }
  
  .card .paleta .cores {
    width: 80px;
    height: 180px;
    cursor: pointer;
    transition: 0.3s linear;
    overflow: hidden;
  }
  .card .paleta .cores:hover {
    width: 120px;
    transition: 0.4s linear;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -60px;
    box-shadow: 1px 1px 8px #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card .paleta .cor1 {
    background-color: #0e3746;
    border-radius: 0px 0px 0px 10px;
  }
  .card .paleta .cor2 {
    background-color: #eae8dc;
  }
  .card .paleta .cor3 {
    background-color: #f4f2ec;
  }
  .card .paleta .cor4 {
    background-color: #be2623;
    border-radius: 0px 0px 10px 0px;
  }
  
  .card .paleta .cores .nome {
    width: 100%;
    height: 30px;
    background-color: #fff;
    text-align: center;
    font-size: 11px;
    font-family: Roboto, sans-serif;
    font-weight: 550;
  }
  
  .card .paleta .func {
    width: 100px;
    display: block;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 40px;
    margin-left: -41px;
    padding-left: 5px;
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
  }
  
  .div1 {
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 150px;
  }
  
  .div2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -60px;
    left: 135px;
    box-shadow: 1px 1px 8px #c7c7c7;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .div1:hover + .div2 {
    background-color: #0e3746;
    display: flex;
    color: #fff;
    animation: cssAnimation_0 1512ms 1 ease-out;
  }
  
  .div3 {
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 150px;
  }
  
  .div4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -60px;
    left: 135px;
    box-shadow: 1px 1px 8px #c7c7c7;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .div3:hover + .div4 {
    background-color: #eae8dc;
    display: flex;
    color: #fff;
    animation: cssAnimation_0 1512ms 1 ease-out;
  }
  
  .div5 {
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 150px;
  }
  
  .div6 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -60px;
    left: 135px;
    box-shadow: 1px 1px 8px #c7c7c7;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .div5:hover + .div6 {
    background-color: #f4f2ec;
    display: flex;
    color: #fff;
    animation: cssAnimation_0 1512ms 1 ease-out;
  }
  
  .div7 {
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 150px;
  }
  
  .div8 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -60px;
    left: 135px;
    box-shadow: 1px 1px 8px #c7c7c7;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .div7:hover + .div8 {
    background-color: #be2623;
    display: flex;
    color: #fff;
    animation: cssAnimation_0 1512ms 1 ease-out;
  }
  
  @keyframes cssAnimation_0 {
    to {
      transform: rotate(360deg) translate(0px, 0px);
    }
  }
  
  
  
  
  /*BUTTON*/

  .button-section {
    text-align: center; /* Esto centrará el botón en la sección */
    padding: 20px 0; /* Añade algo de espacio vertical alrededor del botón */
  }
  
  .centered-button {
    background-color: #1473fb;
    color: white;
    border: none;
    padding: 1em 1.5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1em; /* Asegúrate de ajustar esto para alinear correctamente con el texto */
    border-radius: 50px;
  
    /* Centrado con Flexbox */
    display: inline-flex; /* Display inline-flex permite que text-align lo centre */
    justify-content: center;
    align-items: center;
  }
  
  .centered-button:hover {
    background-color: #055ada; /* Un azul ligeramente más oscuro al hacer hover */
  }
  