.two-column-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos al inicio de cada columna */
    padding: 20px 0;
    background-color: #e6f0fd;
}

.text-column-gif {
    flex-basis: 50%; /* Ajusta la proporción según necesites */
    padding-left: 20em; /* Añade separación entre las columnas si es necesario */
}

.title-blue {
    color: #1473fb;
    /* Añade aquí más estilos para el título */
}

.paragraph-grey {
    color: #999797;
    /* Añade aquí más estilos para el párrafo */
}

.gif-column {
    flex-basis: 50%; /* Ajusta la proporción según necesites */
    display: flex;
    justify-content: center; /* Centra el GIF horizontalmente en la columna */
    align-items: center; /* Centra el GIF verticalmente en la columna */
}

.rounded-gif {
    width: 50%; /* Esto hará que el GIF ocupe el 100% del ancho de su contenedor. Puedes especificar un tamaño fijo si lo prefieres, como '300px'. */
    height: auto; /* Esto mantendrá la proporción de aspecto del GIF. */
    border-radius: 10px; /* Bordes redondeados del GIF */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: sombra para resaltar el GIF */
    /* Asegúrate de que el GIF no se estire más allá de las dimensiones originales */
    max-width: 500px; /* Cambia '500px' al ancho máximo que desees para el GIF */
    max-height: auto; /* Esto asegura que la altura máxima se ajuste al ancho máximo, manteniendo la relación de aspecto */
}




/*Seccion de servicios*/

.services-section {
    text-align: center;
    padding: 2em 0;
    background-color: #e6f0fd;
  }
  
  .services-title {
    color: #1473fb;
    margin-bottom: 1em;
    /* Estilos adicionales que desees para el título */
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em; /* Espacio entre las filas */
  }
  
  .service-column {
    flex-basis: 22%; /* Calcula el ancho para 4 columnas, teniendo en cuenta algún margen */
    text-align: left; /* Alineación del texto dentro de las columnas */
    padding: 0 10px; /* Añade padding si es necesario para evitar que los textos se toquen */
    text-align: center;
  }
  
  .service-title {
    color: #525252;
    margin-bottom: 0.5em;
    /* Estilos adicionales para los títulos de los servicios */
  }
  
  .service-description {
    color: #6c757d;
    /* Estilos adicionales para la descripción de los servicios */
  }
  