body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em; /* Ajuste el padding aquí si es necesario */
}

/* Ajuste el ancho máximo del contenido y centra todo con margin auto */
#hero, .header-container, nav#menu {
    max-width: 1200px; /* O el ancho máximo que prefieras */
    margin-left: auto;
    margin-right: auto;
    
}

#logo {
    width: 200px; /* Establece el ancho deseado */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    padding-top: 1em;
}

nav#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-left: 30em;

}

nav#menu a {
    text-decoration: none;
    color: #999797;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 20px; /* Increase spacing if necessary */
}

#hero {
    text-align: center;
    background-color: #f0f0f0;
    padding: 2em 1em;
}

#hero h1 {
    color: #1473fb; /* Azul */
    font-size: 3.5rem; /* Tamaño de fuente para títulos grandes */
    font-weight: bold; /* Negrita */
    margin-bottom: 0; /* Quitar el margen inferior para que los títulos estén más juntos */
}

#hero p {
    color: #999797; /* Azul */
    font-size: 1.2rem; /* Tamaño de fuente para el párrafo */
    max-width: 800px; /* Ancho máximo del párrafo para un mejor control del texto */
    margin-top: 1rem; /* Espacio antes del párrafo si es necesario */
}

button.hero-button {
    background-color: #1473fb;
    color: white;
    border: none;
    padding: 1em 1.5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1em; /* Asegúrate de ajustar esto para alinear correctamente con el texto */
    border-radius: 50px;
  }
  
  button.hero-button:hover {
    background-color: #055ada;
  }

/* Existing styles above remain unchanged */

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    background-color: #ffffff;
}

.hero-content {
    text-align: left;
}


.hero-image img {
    max-width: 80%; /* Adjust based on the size of your image */
}


.container {
    position: relative; /* Contenedor relativo para los elementos absolutos dentro de él */
    display: inline-block; /* O flex, según necesites */
    /* Ajusta las siguientes propiedades según sea necesario para alinear con el contenido de tu hero */
    vertical-align: middle; /* Alinea verticalmente si estás usando inline-block */
    margin-left: 20px; /* Espacio desde el contenido de texto, ajusta según sea necesario */
    padding-right: 50em;
  }


/* loader*/
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 160px;
    height: 100px;
    margin-left: -80px;
    margin-top: -50px;
    border-radius: 5px;
    background: #1e3f57;
    animation: dot1_ 3s cubic-bezier(0.55,0.3,0.24,0.99) infinite;
  }
  
  .loader:nth-child(2) {
    z-index: 11;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background: #3c517d;
    animation-name: dot2_;
  }
  
  .loader:nth-child(3) {
    z-index: 12;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background: #6bb2cd;
    animation-name: dot3_;
  }
  
  @keyframes dot1_ {
    3%,97% {
      width: 160px;
      height: 100px;
      margin-top: -50px;
      margin-left: -80px;
    }
  
    30%,36% {
      width: 80px;
      height: 120px;
      margin-top: -60px;
      margin-left: -40px;
    }
  
    63%,69% {
      width: 40px;
      height: 80px;
      margin-top: -40px;
      margin-left: -20px;
    }
  }
  
  @keyframes dot2_ {
    3%,97% {
      height: 90px;
      width: 150px;
      margin-left: -75px;
      margin-top: -45px;
    }
  
    30%,36% {
      width: 70px;
      height: 96px;
      margin-left: -35px;
      margin-top: -48px;
    }
  
    63%,69% {
      width: 32px;
      height: 60px;
      margin-left: -16px;
      margin-top: -30px;
    }
  }
  
  @keyframes dot3_ {
    3%,97% {
      height: 20px;
      width: 40px;
      margin-left: -20px;
      margin-top: 50px;
    }
  
    30%,36% {
      width: 8px;
      height: 8px;
      margin-left: -5px;
      margin-top: 49px;
      border-radius: 8px;
    }
  
    63%,69% {
      width: 16px;
      height: 4px;
      margin-left: -8px;
      margin-top: -37px;
      border-radius: 10px;
    }
  }